:host {
  display: block;

  main {
    padding: var(--sp-margin-size);
  }

  mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    mat-label {
      margin-right: 16px;
      font-size: x-large;
      font-weight: bold;
    }
    .spacer {
      flex-grow: 100;
    }
    a.admin {
      justify-self: end;
      font-size: large;
      font-weight: bold;
    }
    a.home {
      justify-self: start;
      font-size: large;
      font-weight: bold;
    }
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  }

}
